* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
  }
  header img {
    width: 20vw;
  }
  nav a{
    color: #ababab;
    text-decoration: none;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-weight: 400;
    text-justify: justify;
    text-align: left;
    margin-left: 10px;
  }
  nav a:hover{
    color: #15baaf;
    
  }
  #selected{
    color: #15baaf;
    
  }
  #class{
    text-align: center;
    padding-top: 15vh;
  }
  #twos{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;
    gap: 15px;
  }
  #blocks{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;
  }
  #block1{
    border: 1px solid black;
    width: 30%;
    height: 300px;
    background-color: #00ccb1;
    border-radius: 10px;
    text-align: center;
    font-family: "work Sans", Arial, sans-serif;;
    font-size: 21px;
    color: #ffffff;
  }
  #bloc1 img{
    text-align: left;
  }
  #block1a{
    color: white;
    text-decoration: none;
    font-family: "work sans", arial, sans-serif;
    font-size: 21px;
    font-weight: 300px;
    font-style: normal;
    padding-top: 70px;
  }
  #block2{
    border: 1px solid black;
    width: 30%;
    background-color: #3d83df;
    border-radius: 10px;
  }
  #block3{
    border: 1px solid black;
    width: 30%;
    background-color: #1b2734;
    border-radius: 10px;
  }
#logos{
    display: flex;
    align-items: center;
}
#logos .text{
    margin-left: 300px;
    margin-bottom: 100px;
}
#logos .text{
    color: rgb(0,204,177);
    font-size: xx-large;
    font-weight: lighter;
}
#logos .difflogos{
    margin: auto;
    display: inline-block;
    grid-template-columns: 20% 20% 20%;
}
#logos .difflogos img{
    margin: 20px;
    width: 10vw;
}
#section3{
    background-color: #d0faf4;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}
.largelogo{
    display: flex;
    flex-direction: column;
    justify-content:end;
    width: 45%;
    align-self: baseline;
    /* padding-top: 10%; */
    /* margin-right: 20px; */
    
}
.inboxes{
    width: 45%;
    display: flex;
    width: 40%;
    margin: 50px auto;
}
#textlargelogo{
    margin: 70px 70px;
}
#imglargelogo{
    margin: 70px;
}
.box1 {
  margin-top: 20px;
}

/*-- box1--*/

/*-- box1a--*/

.inboxes .box1a {
  background-color: white;
  margin: 10px;
  padding: 30px;
  border-radius: 3px;
  width: 12vw;
  height: 40%;
}

.inboxes .box1a i {
  color: rgb(0, 204, 177);
}

.inboxes .box1a h1 {
  color: rgb(0, 204, 177);
}

.inboxes .box1a p {
  color: rgb(137, 116, 116);
  font-size: small;
}


/*-- box1b--*/

.inboxes .box1b {
  background-color: white;
  margin: 10px;
  padding: 30px;
  border-radius: 3px;
  width: 20vw;
  height: 40%;
}

.inboxes .box1b i {
  color: rgb(0, 204, 177);
}

.inboxes .box1b h1 {
  color: rgb(0, 204, 177);
}

section .inboxes .box1b p {
  color: rgb(137, 116, 116);
}


/*--box1c--*/

.inboxes .box1c {
  background-color: white;
  margin: 10px;
  padding: 30px;
  border-radius: 3px;
  width: 12vw;
  height: 40%;
}

.inboxes .box1c i {
  color: rgb(0, 204, 177);
}

.inboxes .box1c h1 {
  color: rgb(0, 204, 177);
}

.inboxes .box1c p {
  color: rgb(137, 116, 116);
}


/*--box1d--*/

.inboxes .box1d {
  background-color: white;
  margin: 10px;
  padding: 30px;
  border-radius: 3px;
  width: 12vw;
  height: 40%;
}

.inboxes .box1d i {
  color: rgb(0, 204, 177);
}

.inboxes .box1d h1 {
  color: rgb(0, 204, 177);
}

.inboxes .box1d p {
  color: rgb(137, 116, 116);
}
.Section4 h1 {
  text-align: center;
  color: rgb(0, 204, 177);
  font-weight: lighter;
  padding-top: 30px;
}

.Section4 p {
  text-align: center;
  color: rgb(137, 116, 116);
  font-weight: 400;
  font-size: 14px
}
